<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiler</title>
    <link rel="stylesheet" href="{{url_for('static',filename='codemirror/lib/codemirror.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
    <script src="{{url_for('static',filename='codemirror/lib/codemirror.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='codemirror/theme/nord.css')}}">
    <script src="{{url_for('static',filename='codemirror/mode/clike/clike.js')}}"></script>
</head>

<body>
    <div class="input">
        <form method="POST" enctype="multipart/form-data" action="/file" style="margin-bottom:10px;color: white;">
            <input type=file name=file>
            <input type=submit value=Upload class="upload-btn">
        </form>
        <form action="/compile" method="POST">
            <textarea name="code" id="editor">{{input_code}}</textarea>
            <button type="submit">Compile</button>
        </form>
    </div>
    <div class="output">
        <p class="err" id="err">
            {{compiler_output_err | safe}}
        </p>
        <p class="succ">
            {{compiler_output_suc | safe}}
        </p>
    </div>
</body>
<script>
    const textarea = document.getElementById('editor')
    var editor = CodeMirror.fromTextArea(
        textarea,
        {
            mode: CodeMirror.mimeModes['text/x-java'],
            theme: 'nord',
            lineNumbers: true,
            matchBrackets: true,
            autoCloseBrackets: true
        }
    )
</script>

</html>