body {
  background: #21262e;
  display: flex;
  flex-direction: row;
}
.CodeMirror {
  height: 500px;
}
.upload-btn {
  border-style: none;
  padding: 10px;
  background: #2e3440;
  color: white;
}
button {
  border-style: none;
  padding: 10px;
  background: #2e3440;
  color: white;
  margin-top: 10px;
  float: left;
}
.input {
  width: 50%;
  margin: 10px;
}
.output {
  margin: 10px;
  width: 50%;
  color: white;
}
pre {
  margin: 0;
}
.err {
  color: red;
}
.succ {
  color: white;
}
